version: '3.8'

services:
  picarx-cctv:
    build: .
    container_name: picarx_app
    network_mode: "host" # IP 관리가 편하도록 호스트 모드 사용
    privileged: true     # GPIO, I2C 제어를 위한 특권 권한
    devices:
      - "/dev/i2c-1:/dev/i2c-1"     # 모터 제어용
      - "/dev/video0:/dev/video0"   # 카메라용
      - "/dev/snd:/dev/snd"         # USB 마이크용
    volumes:
      - .:/app                      # 현재 코드 실시간 반영
      - /media/epqlffltm/storage:/media/epqlffltm/storage # 1.4TB 저장소 연결
      - /run/dbus:/run/dbus         # 시스템 버스 연결
    restart: always